
{% extends "gestionComentarios/base.html" %}


{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'gestionComentarios/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
           
            <span class="section-heading-lower">La Liga</span>
          </h2>
          <p class="mb-3">Información de todos los partidos de la liga y estadisticas.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Ayudamos a nuestros usuarios a que puedan estar informados las 24hs de los partidos y puedan dejar sus comentarios
                de cada partido para compartirlo con los demas usuarios.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}